doctype html
html
 head
  title= "Gideon Jones User Management"
 header
  h1 User Manager
  a(href="/") Home
  br
  a(href="/sort") Sorting
  br
  a(href = "/newUser") New User
 body
  block content
 footer
  p Gideon Jones | Feb/Mar 2021 | MTECH Web Development | MongoDB/Pug User Manager
