extend layout 

block content 
 div.table
  table
   tr
    th First Name
    th Last Name
    th Email
    th Age
    th Country
    th Zip
    th ID
   tr
    td
     a(href=`/sort/fname/acending`) Acending
    td
     a(href=`/sort/lname/acending`) Acending
    td
     a(href=`/sort/email/acending`) Acending
    td
     a(href=`/sort/age/acending`) Acending
    td
     a(href=`/sort/country/acending`) Acending
    td
     a(href=`/sort/zip/acending`) Acending
    td
     a(href=`/sort/id/acending`) Acending
   tr
    td
     a(href=`/sort/fname/decending`) Decending
    td
     a(href=`/sort/lname/decending`) Decending
    td
     a(href=`/sort/email/decending`) Decending
    td
     a(href=`/sort/age/decending`) Decending
    td
     a(href=`/sort/country/decending`) Decending
    td
     a(href=`/sort/zip/decending`) Decending
    td
     a(href=`/sort/id/decending`) Decending